tailscale_api_key    = "tskey-api-..."
tailscale_tailnet    = "you@gmail.com"
location             = "westus2"
admin_username       = "azureuser"
vm_size              = "Standard_D2as_v7"
resource_group_name  = "rg-tailscale-demo"
vnet_cidr            = "10.0.0.0/16"
public_subnet_cidr   = "10.0.1.0/24"
private_subnet_cidr  = "10.0.2.0/24"
admin_ssh_public_key = "ssh-rsa ..."
